

<!doctype html>
<html ng-app="elastsearchApp">
<head>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.2/angular.min.js"></script>
    <script src="elasticsearch-js/elasticsearch.angular.js"></script>
    <script src="elastsearchApp.js"></script>
    <link rel="stylesheet" href="todo.css">
</head>
<body>
<h2>Todo</h2>
<div ng-controller="elastCtrl as elastCtrl">



    {{namex}}<br>
    {{elastCtrl.name}} <br>
    Testmovies: <br>
    <li ng-repeat="movie in testmovies">
        <span>{{movie.Title}}</span>
        <p>{{movie.Plot}}</p>
    </li>
    Search: <br>
    <li ng-repeat="movie in movies">{{movie.Title}} </li>

</body>
</html>

